/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: monospace, "Helvetica Neue", sans-serif; }
h1,h2,h3,h4,h5,a,span{ font-family: monospace !important }


.container{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.success{
    background-color: green !important;
    color: white !important;
}

.info{
    background-color: rgb(43, 137, 226) !important;
    color: white !important;
}

.warning{
    background-color: yellow !important;
}

.danger{
    background-color: red !important;
    color: white !important;
}